extends layout

block content
  h1= title
  .container(style='display: flex')
    a.button(href='./books/new') Create New Book
    form.search(action="/books", method="post" style='margin-left: 250px')
      input(name='search' type='text' value=search.value placeholder='Title, author, genre, year' style='width: 200px')
      input(type='submit' value='Search' style='margin-left: 5px')
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in allBooks
        tr
          td
            a(href=`./books/${book.id}/update`) #{book.title}
          td= book.author 
          td= book.genre 
          td= book.year