extends layout

block content
  h1 Books
  .container(style='display: flex')
    a.button(href='/books/new/create') Create New Book
    form.search(action="/books", method="post" style='margin-left: 225px')
      input(name='search' type='text' value=search.value placeholder='Title, author, genre, year' style='width: 200px')
      input(type='submit' value='Search' style='margin-left: 5px')
  table.table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in bookList
        tr
          td
            a(href=`/books/update/${book.id}`) #{book.title}
          td= book.author 
          td= book.genre 
          td= book.year
  .container
    - var n = 1;
    ul.pagination
      while n < pages+1
        li.pagenum
          a(href="/books/"+n)= n++